*{
    margin: 0 auto;
    padding: 0;
}
header{
    max-width: 1440px;
}
nav{
    display: flex;
    justify-content: space-around;
}

.first-container{
 width: 100%;
 height: 644px;
 background-image: url(../assets/Hero-bg.png) ;
 

}

main{
    max-width: 1140px;
    margin-top: 150px;
}
.first-title{
    font-weight: 900; 
    font-size: 34px;
     margin-bottom: 30px;
     text-align: center;
}

.header{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 47px;
    width: 700px;
    
}
.img-one{
    margin-bottom: 50px;
   
}
.btn-primary{
    margin-top: 60px;
    background: #0D1321;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.first-title{
   padding-top: 35px;
}
.section1{
    width: 1140px;
    background-color: #F7F8F8;
    margin: 0 auto;
    height: 1100px;
}
.developement-container{
 width: 946px;
 line-height: 30px;
 height: 1100px;
 
 
}
.sub-container{
    margin-top: 100px;
}
.developement-part1{
    display: flex;
    margin-top: 50px;
    gap: 50px;
    background-color: #fff;
    
    
   
}

.btn-learn{
    margin-top: 40px;
    margin-left: 50px;
    padding: 10px;
}
.a1{
 width: 50%;
 background-color: #fff;
}
.a2{
 width: 50%;
}
.developement-part2{
    display: flex;
    margin-top: 50px;
    gap: 50px;
    margin-left: 20px;
   
}
.b1{
    width: 40%;

}
.b2{
 width: 60%;
 background-color: #fff;
 height: 210px;
}

.inspiretion-container{
    margin-top: 60px;
    width: 1140px;
    border: 2px solid hsl(0, 18%, 91%) ;
    border-radius: 10px;
    height: 650px;
}

.target-container{
   margin-top: 100px;
   text-align: center;
    width: 1140px;  
    height: 480px;
}
.target{
    margin-top: 50px;
}
.videos{
    margin-left: 100px;
    margin-top: 50px;
}
.target-title{
    margin-top: 20px;
}
.hcj{
    display: flex;
  line-height: 30px;
   justify-content: start;
   margin-top: 50px;
}
.html img{
    margin-left: 20px 0px 10px 0px;
}
.html{
    background-color: #FFF6F4;
    height:370px;
    border-radius: 10px;
}
.css{
    background-color: #F2F6FE;
    height:370px;
    border-radius: 10px;
}
.javascript{
    background-color: #FFFDF2;
    height:370px;
    border-radius: 10px;
}
.css,.html,.javascript{
    width: 30%;
}
.section4{
    margin-top: 100px;
    width: 1140px;
    height: 400px;
    background-image: url(../assets/handshake.jpg);
    color: #fff;
    margin-bottom: 100px;
    background-size: cover;
    border-radius: 5px;
}
.support-contain{
   text-align: center;
   padding-top: 150px;
   line-height: 30px;
}
.support-contain h1,p,input, button{
margin-top: 20px;
}
input{
    padding:  10px 20px;
    border-radius: 5px;
    
} 

.btn-submit{
    padding:10px;
    border-radius: 6px;
    margin-left: 50px;
}
.btnn{
    background-color: #F7F8F8;
    color: black;
}
.lrn{
    padding: 5px;
    margin-top: 50px;
}
footer{
    max-width: 1440px;
    background-color: #F7F8F8;
    display: flex;
    height: 100px;
}
    
    
.icons img{
    margin-right: 10px;
}